.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 19.25rem;
  //   border: 2px solid red;

  @include breakpoints-down(large) {
    grid-template-columns: 1fr;
    text-align: center;
    height: 52rem;
  }

  &__corporate {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        rgb(214, 133, 133),
        rgba(214, 133, 133, 0.418)
      ),
      url(/images/corporatehr.jpg);

    @include breakpoints-down(large) {
      background: linear-gradient(
        rgb(214, 133, 133),
        rgba(214, 133, 133, 0.418)
      );
    }
  }

  &__workplace {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(102, 31, 29), rgba(102, 31, 29, 0.7)),
      url(/images/workplacesol.jpg);

    @include breakpoints-down(large) {
      background: linear-gradient(rgb(102, 31, 29), rgba(102, 31, 29, 0.7));
    }
  }

  &__performance {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgb(59, 12, 6),
        rgba(59, 12, 6, 0.7)
      ),
      url(/images/performance1.jpg);

    @include breakpoints-down(large) {
      background: linear-gradient(rgb(59, 12, 6), rgba(59, 12, 6, 0.7));
    }
  }

  &__container {
    margin: 4rem 0 0 4rem;

    @include breakpoints-down(large) {
      margin: 4rem 0 4rem 0rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.3125rem;
    }

    p {
      font-size: 2.5rem;
      font-weight: 200;
      margin: 0;
    }

    &__corporate_learnMore,
    &__workplace_learnMore,
    &__performance_learnMore {
      color: $white;
      display: block;
      margin-top: 4rem;
      font-weight: 700;
      cursor: pointer;

      @include breakpoints-down(large) {
        font-size: $font-sm;
        margin-top: 2.5rem;
      }

      &:after {
        content: "";
        display: block;
        width: 35%;
        height: 3px;
        background-color: $white;

        @include breakpoints-down(large) {
          margin: 0 auto;
        }
      }
    }
  }
}
