.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 19.25rem;
  //   border: 2px solid red;

  @include breakpoints-down(medium) {
    grid-template-columns: 1fr;
    text-align: center;
    height: 52rem;
  }

  &__corporate {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        rgba(21, 113, 176, 1),
        rgba(21, 113, 176, 0.3)
      ),
      url(/images/corporatehr.jpg);
  }

  &__workplace {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        rgba(32, 58, 115, 1),
        rgba(32, 58, 115, 0.3)
      ),
      url(/images/workplacesol.jpg);
  }

  &__performance {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgba(29, 49, 102, 1),
        rgba(29, 49, 102, 0.3)
      ),
      url(/images/performance1.jpg);
  }

  &__container {
    margin: 4rem 0 0 4rem;

    @include breakpoints-down(medium) {
      margin: 4rem 0 4rem 0rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.3125rem;
    }

    p {
      font-size: 2.5rem;
      font-weight: 200;
      margin: 0;
    }
  }

  a {
    color: $white;
    display: block;
    margin-top: 4rem;
    font-weight: 700;

    @include breakpoints-down(medium) {
      font-size: $font-sm;
      margin-top: 2.5rem;
    }

    &:after {
      content: "";
      display: block;
      width: 35%;
      height: 3px;
      background-color: $white;

      @include breakpoints-down(medium) {
        margin: 0 auto;
      }
    }
  }
}
