.video {
  width: 100%;
  height: 29.6875rem; //475px
  background-image: linear-gradient(
      rgba(10, 10, 77, 0.8),
      rgba(10, 10, 74, 0.4)
    ),
    url(/images/videopic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include breakpoints-down(medium) {
    height: 20rem;
  }

  &__btn.active {
    .video__btn_play {
      background-color: #17285b;
      box-shadow: 0 0 0 150vh rgba(23, 40, 91, 1);
      z-index: 20000;

      &::after {
        display: none;
      }
    }
  }

  &__btn {
    position: relative;
    cursor: pointer;

    &_play {
      position: relative;
      width: 80px;
      height: 80px;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 15px 25px rgba(255, 255, 255, 0.8);
      transition: 0.5s;

      @include breakpoints-down(medium) {
        width: 45px;
        height: 45px;
      }

      &::before {
        content: "";
        position: absolute;
        border: 25px solid #17285b;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
        transform: translateX(10px);
        z-index: 2;

        @include breakpoints-down(medium) {
          border: 16px solid #17285b;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid transparent;
          transform: translateX(6px);
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: $white;
        transform: scale(1);
        // z-index: -1;
        animation: pulse2 2s ease-in-out infinite;

        @include breakpoints-down(medium) {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  &__text {
    h3 {
      font-size: $font-lg;
      text-align: center;

      @include breakpoints-down(medium) {
        font-size: 1.5rem;
      }
    }
  }

  &__clip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    &_box {
      height: 75%;
      width: 80%;
      border: 10px solid $white;
      background-color: rgba(255, 255, 255, 0.3);
    }

    &_text {
      position: absolute;
      top: 30px;
      right: 30px;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &__clip.active {
    position: fixed;
    transition-delay: 0.5s;
    transform: translate(-50%, -50%) scale(1);
    z-index: 240000;
  }
}
